<!-- Start Header -->
<div class="header" id="header">
  <div class="my-container">
      <a routerLink="/" class="logo"> <img src="../../assets/angular.svg" class="mr-4 h-10"> Employees App</a>
      <ul class="main-nav">
          <li><a routerLink="/about" class="active:text-rose-900">About</a></li>
          <li><a routerLink="/employees">Employees</a></li>
          <li><a routerLink="/departments">Departments</a></li>
          <li><a routerLink="/cities">Cities</a></li>
      </ul>
  </div>
</div>
<!-- End Header -->
