<h1 class="main-title mt-14 text-gray-800 font-bold font-sans text-2xl text-center mx-auto">Employee Details</h1>

<div class="w-3/5 mx-auto mt-16 mb-24">
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.employeeNameArabic}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.employeeNameEnglish}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.dob}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.hiringDate}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.salary}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.department.departmentAbbr}}</span>
  </div>
  <div class="w-full my-10 d-flex">
    <span class="w-3/12 text-center bg-rose-900 font-semibold px-2 py-2 text-2xl text-white">Employee Name</span>
    <span class="w-2/5 bg-rose-200 font-semibold px-4 py-2 text-2xl text-slate-900">{{employee.city.cityNameEnglish}}</span>
  </div>
</div>
