<h1 class="main-title mt-14 mb-20 text-gray-800 font-bold font-sans text-2xl text-center mx-auto">Edit Department</h1>

<div class="w-full md:w-2/4 mx-auto px-10 md:mx-auto">
  <div class="d-flex mb-10 flex-col">
    <h1 class="p-2 text-rose-900 border-rose-500 border-b-2 w-full text-center">{{department.departmentName}}</h1>
    <h1 class="p-2 text-rose-900 border-rose-500 border-b-2 w-full text-center mt-4">{{department.departmentAbbr}}</h1>
  </div>

  <div>
    <span routerLink="/departments" class="mr-10 font-extrabold text-rose-700 hover:text-blue-900 hover:cursor-pointer">Back To List</span>
    <span (click)="delete(department.departmentId)" class="mx-4 font-bold text-blue-700 hover:text-blue-900 hover:cursor-pointer">Delete</span>
  </div>
</div>

<form #form="ngForm" class="w-full md:w-2/5 mx-auto md:mx-auto mt-14 mb-20 px-10">
  <input [(ngModel)]="EditDepartmentRequest.DepartmentName" name="DepartmentName" required placeholder="{{department.departmentName}}" class="font-bold font-sans text-2xl py-2 px-3 focus:outline-none border-2 border-rose-900 text-rose-900 placeholder:text-rose-300 w-full"/>
  <br/>
  <input [(ngModel)]="EditDepartmentRequest.DepartmentAbbr" name="DepartmentAbbr" required placeholder="{{department.departmentAbbr}}" class="font-bold font-sans text-2xl py-2 px-3 mt-6 focus:outline-none border-2 border-rose-900 text-rose-900 placeholder:text-rose-300 w-full" />
  <br/>
  <button (click)="putDepartment(department.departmentId)" class="disabled:bg-rose-100 disabled:text-rose-900 font-bold font-sans text-2xl py-2 px-3 bg-rose-700 text-gray-50 duration-300 mt-6 border-2 border-rose-700 hover:bg-rose-900 hover:border-rose-900 w-full">
    Edit
  </button>
</form>
